*.a
*.o
*.bak
.idea
build/
bin/
cmake-build-debug/
cmake-build-default/
cmake-build-release/
demo/Qt/DA_project/build-DA-Desktop_Qt_5_8_0_GCC_64bit-Debug/
demo/Qt/DA_project/build-DA-Desktop_Qt_5_8_0_GCC_64bit-Release/
demo/Qt/DA_project/DA/build
demo/InteractiveSegmentation/voleval/output/
demo/NegativeMining/cyift_not_work/doc/
demo/VISVA/data/debug/
demo/VISVA/lib/bzip2/
demo/VISVA/lib/code_c/
demo/VISVA/lib/code_cpp/
demo/VISVA/lib/gui/
demo/VISVA/modules/preprocessing/msp-bergo/obj/
demo/VISVA/modules/segmentation/cloudsbrain/out/
python/__pycache__/
test/bin/
test/data/
